<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
   
  </head>

  <body ng-app="starter" ng-controller="CalCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Simple Calculator</h1>
      </ion-header-bar>
      <ion-content class="has-header">
          <div class="main-body" id ="main-body">
              <div class="display" >
                  <div  class="display-row">{{display}}</div>
              </div>
              <div id="row1" class="row">
                  <button class="buttons grey" type="button grey" ng-click="clear()">C</button>
                  <button class="buttons grey" type="button grey" ng-click="+/-">+/-</button>
                  <button class="buttons grey" type="button grey" ng-click="%">%</button>
                  <button class="buttons orange" type="button" ng-click="divide()">÷</button>
              </div>
              <div id="row2" class="row">
                  <button class="buttons" type="button" ng-click="enterNumber(7)">7</button>
                  <button class="buttons" type="button" ng-click="enterNumber(8)">8</button>
                  <button class="buttons" type="button" ng-click="enterNumber(9)">9</button>
                  <button class="buttons orange" type="button" ng-click="multiplay()">×</button>
              </div>
              <div id="row3" class="row">
                  <button class="buttons" type="button" ng-click="enterNumber(4)">4</button>
                  <button class="buttons" type="button" ng-click="enterNumber(5)">5</button>
                  <button class="buttons" type="button" ng-click="enterNumber(6)">6</button>
                  <button class="buttons orange" type="button" ng-click="subtract()">-</button>
              </div>
              <div id="row4" class="row">
                  <button class="buttons" type="button" ng-click="enterNumber(1)">1</button>
                  <button class="buttons" type="button" ng-click="enterNumber(2)">2</button>
                  <button class="buttons" type="button" ng-click="enterNumber(3)">3</button>
                  <button class="buttons orange" type="button" ng-click="add('+')">+</button>
              </div>
              <div id="row5" class="row">
                  <button class="buttons zero" type="button" ng-click="enterNumber(0)">0</button>
                  <button class="buttons" type="button" ng-click="enterNumber('.')">.</button>
                  <button class="buttons orange" type="button" ng-click="calculate()">=</button>
              </div>
          </div>    
      </ion-content>
    </ion-pane>
  </body>
</html>
